.navbar{
  height: 60px;
  border-bottom: 0.5px solid rgb(231, 228, 228);
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #555;

  .wrapper{
    width: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    // Search
    .search {
      display: flex;
      align-items: center;
      padding: 3px;
      border: 1px solid #ccc; /* Border color */
      border-radius: 20px; /* Border radius to make it slightly curved */
      max-width: 150px;

      /* Input field */
      input {
        border: none;
        outline: none;
        background-color: transparent;
        width: 100%;
        padding: 5px;
        margin-left: 5px; /* Space between icon and input */
        border-radius: 20px; /* Same border radius as the container */

        &::placeholder{
          font-size: 12px;
        }
      }
    }

    .items{
      display: flex;
      align-items: center;

      .item {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 10px;
        font-size: 20px;
        width: 32px; /* Adjust the size of the circle */
        height: 32px; /* Adjust the size of the circle */
        border-radius: 50%; /* Make it a circle */
        border: 2px solid #000000;
        // background-color: #fffbfb; /* Background color of the circle */
        cursor: pointer;
      }
    }
  }
}
